@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-3xl;
      @apply font-bold;
    }
    h2 {
      @apply text-xl;
        @apply font-bold;
    }
    h3 {
      @apply text-lg;
      @apply font-bold;
    }
    /* ... */
  }